@font-face {
    font-family: "Misto";
    src: url(../fonts/Misto.otf) format("opentype");
         url(../fonts/Misto.ttf) format("truetype");
         url(../fonts/Misto.eot) format("embedded-opentype"),
         url(../fonts/Misto.woff2) format("woff2"),
         url(../fonts/Misto.woff) format("woff"),
         url(../fonts/Misto.ttf) format("truetype"),
         url(../fonts/Misto.svg#Misto) format("svg");
}
@font-face {
    font-family: "TenorSans-Regular";
    src: url(../fonts/TenorSans-Regular.ttf) format("truetype");
}